.bottomPanel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: rgb(33, 33, 33);
  border-radius: 0px 0px 20px 20px;
}
.css-a88p61-MuiInputBase-root-MuiInput-root {
  color: white !important;
}
