*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #143861aa;
    padding: 0 2px;
    margin-right: -15px;
}
::-webkit-scrollbar-thumb {
    background-color: #424d75;
    border-radius: 9em;
}